.App {
  text-align: center;
}
main {
  max-width: 80%;
  margin: auto;
  text-align: left;
}
.nav-bar, .nav-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav-bar {
  width: 100%;
  background-color: black;
  /* justify-content: space-evenly; */
  z-index: 99;
}
.nav-inner {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.nav-items {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.nav-link {
  display: block;
  color: white;
  padding: 15px;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 75px;
}
.nav-link:hover {
  color: blue;
  background-color: skyblue;
  transition: 0.6s;
}
@media only screen and (max-width: 900px) {
  /* For tablets: */
  .nav-link {
    font-size: 12px;
    line-height: 45px;
  }
}
@media only screen and (max-width: 600px) {
  /* For tablets: */
  .nav-link {
    padding: 10px;
    font-size: 10px;
    line-height: 45px;
  }
}
.paragraph {
  width: 80%;
  margin: auto;
  text-align: left;
  line-height: 40px;
}

/* Exercise 1: Hello World!  */
.Center {
  background-color: yellow;
  margin: 5% auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Exercise 2: Capturing User Clicks */


/* Exercise 3: Custom Component */

button {
  margin: 0 20px;
}

/* Exercise 5: Mapping Through A List And Rendering */
.animal {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

/* Exercise 6: Mapping Through A List And Rendering (With A Custom Component) */
.animals {
  padding: 25px;
  border: 1px solid gray;
}


form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px auto;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
}
form .btn {
  background-color: red;
  color: white;
  font-weight: bold;
  border-bottom: 5px solid gray;
}


.flex-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(105, 226, 206);
}
.post {
  background-color: white;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  box-shadow: 10px 10px 10px gray;
}


